.box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.contain {
    background-color: cyan;
    position: relative;
    width: 500px;
    margin-left: 20px;
}

.box1 {
    background-color: orange;
}

.box2 {
    background-color: pink;
    /* Đặt vị trí là absolute */
    position: absolute;
    /* phần tử cách trục tọa độ về phía bên trái là 150px (trục y) */
    left: 150px;
    /* Cách trục trên (trục x) là 100px */
    top: 100px;
}

.box3 {
    background-color: yellow;
}