/* tạo layout cho feature */
.feature-layout {
    background-color: lightcyan;
    /* khoảng trống ở phía contain trên là 36px */
    margin-top: 36px;
    display: flex;
    /* dòng lệnh ở dưới sẽ làm cho các phần tử(feature-item) 
    có thêm hai khoảng trống bằng nhau ở hai bên */
    justify-content: space-around;
    /* Đặt cái phần tử trình bày theo chiều ngang(mặc định của html) */
    flex-direction: row;
}

/* Đặt tỉ lệ khung hình tối đa là 720px là hiện theo chiều dọc(column,
hơn 720px là chiều ngang(row) */
@media (max-width: 720px) {
    .feature-layout {
        flex-direction: column;
    }
}
.feature-item {
    /* khoảng cách phần background
     chiều dọc là 12, chiều ngang là 16 */
    padding: 12px 16px;
    /* khoảng trống của flex item với contain phần bên trên là 16px */
    margin: 16px;
    /* cho ba phần tử feature-item mỗi cái chiếm 30% contain */
    flex-basis: 30% ;
}

.feature-item:nth-child(1) {
    background-color: aqua;
}

.feature-item:nth-child(2) {
    background-color: orange;
}

.feature-item:nth-child(3) {
    background-color: aquamarine;
}