a {
    text-decoration: none;
    background-color: aqua;
    color: black;
    border-radius: 999px;
    display: inline-block;
    width: 100px;
    padding: 8px 16px;
    text-align: center;
}

a:hover {
    background-color: black;
    color: aqua;

}